$black: #222222;
$white: #ffffff;
$blue: #b3d7ff;
$dark-blue: #035aa6;
$light-blue: #adb5bd;
$gold: #ffa41b;
$red: #d04e5e;
$gray: #eeeeee;
$light-gray: #f8f8f8;
$dark-gray: #52616b;
$green: #12947f;

$viber_bg: #574e92;
$whatsapp_bg: #009688;

$primary-text: $black;
$secondary-text: $white;
$primary-bg: $dark-blue;
$secondary-bg: $white;
$accent-1: $black;
$accent-2: $gold;
$accent-3: $red;
$accent-4: $dark-blue;
$accent-5: $green;
$secondary-accent-1: $gray;
$secondary-accent-2: $light-gray;
$secondary-accent-3: $dark-gray;
$secondary-accent-4: $light-blue;
$secondary-accent-5: $blue;
$alert: $red;
