header.Header
  a(href="/").Logo
    img.Logo-Img(src="./images/logo_vgsha.png", alt="logo")
    p.Logo-Title Музей истории академии
  a.Nav.Nav-Home(href="/")
    img(src="./images/toHome.png", alt="")