extends common/layout.pug

block content
  h1.Wrapper-Title Академия
  .History-Outer
    .History
      h3.History-Title История академии
      img.History-Img(src="./images/korpus_1907.jpg", alt="")
      .History-Text
        p Первая страница истории нашего ВУЗа открылась в начале прошлого века. 10 июля 1930 года на базе Вятского сельскохозяйственного техникума был создан Вятский зоотехническо-ветеринарный институт, который стал первообразом нашей академии.
        p Изначально осуществлялся приём на два факультета: зоотехнический и ветеринарный. Всего на тот момент в жизни ВУЗа принимало участие 18 преподавателей и 150 студентов. Образовательная деятельность проходила в главном корпусе, общая площадь которого не превышала 4 000 квадратных метров, и в близлежащих зданиях хирургической клиники и кафедр микробиологии и ветсанэкспертизы. Кроме того, институт располагал учебно-опытным хозяйством и животноводческим стадом, состоящим из 166 голов крупного рогатого скота и 52 свиней.
        p 1937 год принёс пополнения, когда после закрытия Вологодского ветеринарного института большая часть его студентов влилась в состав Вятского зооветинститута. Сюда же передали и оборудование закрытого ВУЗа.
        p Первым институтским общежитием стало здание бывшего реального училища. Перед войной было закончено строительство большого общежития на Октябрьском проспекте.
        p Всего за период войны из института ушло на фронт более 100 человек. Самоотверженно трудились преподаватели и студенты и в тылу – на очистке железнодорожных путей от снега, на погрузке и разгрузке вагонов, на торфоразработках.
        p Несмотря на все трудности военного времени, не прекращалась научно-исследовательская работа. Практически все свои помещения институт передал эвакуированным в Киров оборонным предприятиям и перебрался в здание, занимаемое ныне корпусом «В». Здесь же располагались общежитие, столовая и вспомогательные службы.
        p 28 августа 1944 года вышел приказ Всесоюзного комитета по делам высшей школы о переименовании зооветинститута в Кировский сельскохозяйственный институт и об открытии при нём агрономического факультета. С течением времени направлений обучения становилось всё больше. Так, в 1952 году открылся факультет механизации и электрификации сельского хозяйства, а в 1965 году проведён набор на специальность экономика и организация сельскохозяйственного производства.
        p В 1980-е годы институт продолжал активно развиваться. Были выведены сорта злаковых культур: озимая рожь Нововятская, лён-долгунец Василёк, Батист, озимая рожь Номерная. Создан бактериальный препарат биосан.
        p В 1988 году создан учхоз с опытным полем и 7 сельскохозяйственных предприятий области с более чем 20 тысячами гектаров пашни, 8 тысячами голов крупного рогатого скота, немалым количеством свиней, овец, пчёлосемей.
        p Начало девяностых годов – едва ли не самый тяжёлый период в истории вуза. Главными задачами в создавшихся условиях стали сохранение института как центра высшего сельскохозяйственного образования в Кировской области, обеспечение приёма студентов в соответствии с контрольными цифрами и подготовка специалистов сельского хозяйства в новых условиях функционирования агропромышленного комплекса. Эти задачи в целом успешно решал коллектив института.
        p День 22 ноября 1994 года является важным для истории нашего ВУЗа – он стал академией. Значительно вырос конкурс на все специальности. По показателям Вятская государственная сельскохозяйственная академия вышла на третье место среди сельхозвузов страны!
        p В конце 20 века некоторые факультеты претерпели изменения в названиях. Например, ветеринарный факультет стал факультетом ветеринарной медицины, зооинженерный факультет – биологическим, а факультет механизации сельского хозяйства – инженерным.
        p В 1998 году был открыт филиал Вятской государственной сельскохозяйственной академии в республике Коми, в 1999 году – в Котельниче и Нолинске, а в 2004 году – в Яранске. В конце столетия на базе опытного поля агрономического факультета создан Ботанический сад.
        p Начало XXI века стало для Вятской государственной сельскохозяйственной академии, как и для всего российского образования, временем перемен. Был осуществлён переход к приему абитуриентов по результатам единого государственного экзамена, переход к бакалавриату и магистратуре, остро ощущались последствия демографического спада…
        p Тем не менее Академии удалось сохранить свои позиции одного из ведущих высших учебных заведений региона. Мы гордимся нашей Вятской государственной сельскохозяйственной академией и надеемся, что её история будет длиться ещё не одно столетие!
