extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/ История
  .History-Outer
    .History
      h3.History-Title История агрономического факультета
      .History-Text
        p 1944 г. – Постановление СНК СССР об открытии агрономического факультета при Кировском зооветеринарном институте. Первый набор студентов – 50 человек.
        p 1944 – 1948 гг. – Занятия ведут преподаватели кафедр неорганической химии, физики, зоологии, ботаники с растениеводством. Первый декан – доцент А.Н. Тиунов. Первые преподаватели – академик Н.В. Рудницкий, профессора П.Т. Решетников, Е.А. Лучинин, С.Л. Щеклеин, а также С.П. Тупицын, Э.А. Штина, Н.М. Завадский и другие. В то же время были организованы кафедры растениеводства, почвоведения (профессор С.Л. Щеклеин), земледелия (доцент А.С. Панушкин), сельхозмашин (А.В. Навалихин), селекции и семеноводства (доцент Н.М. Завадский).
        p 1951 г. – Первая студенческая конференция.
        p 1960 г. – Расширение кафедр, переезд кафедры неорганической химии и агрохимии в новый корпус «Б». Приход на преподавательскую работу И.П. Макарова, В.В. Тюлина, Л.Р. Тюлиной, Е.М. Панкратовой; формирование научных школ по изучению почв – В.В. Тюлиным, по изучению способа повышения плодородия почв – И.П. Макаровым, по изучению почвенных водорослей – Э.А. Штиной. Создан сорт ржи Вятка северная (авторы В.Г. Смирнов, Л.К. Котельникова, Т.И. Титова). В.Г. Смирнов защищает докторскую диссертацию.
        p 1968 г. – Организация кафедры мелиорации и геодезии.
        p 1969 г. – С.Ф. Тихвинский защитил докторскую диссертацию. Профессору Э.А. Штиной присвоено звание «Почетный гражданин г. Кирова».
        p 1973 г. – В.В. Тюлин защитил докторскую диссертацию.
        p 1975 г. – И.П. Макаров защитил докторскую диссертацию.
        p 1976 г. – В.А. Беляев защитил докторскую диссертацию.
        p 1977 г. – Е.М. Панкратова защитила докторскую диссертацию. Кафедра ботаники представляет агрономическую науку на симпозиумах – США, Англия, Франция, Румыния, Австралия, Болгария, Нидерланды, Польша.
        p 1979 г. - А.Ф. Тимофееву присвоено звание профессора.
        p 1985 г. - начинается переоборудование опытного поля, строятся новые склады, мастерская, зерноток, селекционный дом, картофелехранилище, монтируются две лаборатории, строится пруд.
        p 1993 г. - Г.П. Дудин защитил докторскую диссертацию. Профессорам Е.М. Панкратовой и С.Ф. Тихвинскому присваивается звание "Заслуженный деятель науки РФ".
        p 1995 г. - Выведен первый отечественный сорт льна-долгунца Белочка с двумя маркерными морфологическими признаками (авторы С.Ф. Тихвинский, С.В. Доронин, А.Н. Дудина, Г.Ф. Плаксина, Н.К. Лаптева, Е.И. Замятина).
        p 1997 г. - А.А. Платунов защитил докторскую диссертацию. Выведен сорт яровой пшеницы Крепыш (авторы С.Ф. Тихвинский, М.А. Долгополов, С.В. Доронин, Н.В. Резвых). И.Я. Копысов защитил докторскую диссертацию.
        p 1998 г. - Л.И. Домрачева защитила докторскую диссертацию. Она утверждена действительным членом Нью-Йоркской академии наук.
        p 1999 г. - Американский биографический институт признал Е.М. Панкратову "человеком года" и наградил Золотой медалью. При агрономическом факультете открыт Ботанический сад.
        p 2000 г. - Выведен сорт льна-долгунца Синичка (авторы С.Ф. Тихвинский, С.В. Доронин, А.Н. Дудина, Н.С. Игитова, Н.И. Юферева, М.И. Пономарева).
        p 2002 г. - На факультете открыты две новые специальности "Селекция и генетика с.-х. культур" и "Технология производства и переработки с.-х. продукции".
        p 2003 г. - Изданы монографии "Тяжелые металлы в почвах и растениях таежной зоны Северо-Востока Европейской части России" (авторы Шихова А.Н., Егошина Т.Л.) и "Современное состояние недревесных растительных ресурсов России" (под редакцией Егошиной Т.Л.).
        p 2004 г. - Профессором Юлушевым И.Г. издано учебное пособие "Почвенно-агрохимические основы адаптивно-ландшафтной организации систем земледелия ВКЗЛ".
        p 2006 г. - Профессор Домрачева Л.И. награждена Почетной грамотой министра природопользования РФ.
        p 2007 г. - Проведена Всероссийская научно-практическая конференция, посвященная 60-летию кафедры общего земледелия на тему: "Рациональное использование земельных ресурсов".
        p 2008 г. - Коллективом кафедры неорганической и аналитической химии получено два патента на изобретения: "Способ обработки грубых кормов" и "Установка обработки грубых кормов". Работа "Электрохимическое окисление грубого растительного сырья" была апробирована в институте проблем химической физики РАН и выиграла грант на два года.
        p 2009 г. - Заведующий кафедрой селекции и семеноводства Дудин Г.П. удостоен почетного звания "Заслуженный деятель науки РФ".
        p Коллектив преподавателей кафедры растениеводства (Тихвинский С.Ф., Доронин С.В., Дудина А.Н., Тючкалов Л.В.) за книгу "Полевые культуры на Северо-Востоке Европейской части России" и удостоен премии Правительства Кировской области.
        p 2010 г. - Коллектив кафедры ботаники, физиологии растений и микробиологии провел Международную научно-практическую конференцию "Водоросли и цианобактерии в природных и сельскохозяйственных экосистемах", посвященную 100-летию со дня рождения профессора Штиной Э.А. В её работе приняли участие ученые из Москвы, Санкт-Петербурга, Красноярска, Новосибирска и других городов России. На VIIМосковском международном салоне инноваций и инвестиций коллектив авторов под руководством профессора Панкратовой Е.М. был награжден Дипломом и бронзовой медалью за разработку: "Цианобактерии как основа нового направления при создании агропрепаратов".
        p Профессором Платуновым А.А. издана монография "Особенности ресурсосберегающего земледелия на легких почвах Нечерноземной зоны".
        p 2011 г. - Профессором Панкратовой Е.М. издан "Практикум по физиологии растений с основами биологической химии". Оно рекомендовано Учебно-методическим объединением вузов РФ по агрономическому образованию в качестве учебного пособия для студентов, обучающихся по направлениям подготовки "Агрономия", "Агрохимия и почвоведение", "Садоводство".
        p 2012 г. - Биопрепарат "Ризоверм", разработанный коллективом преподавателей кафедры ботаники, физиологии растений и микробиологии, был представлен на V Российском инновационном форуме "Российским инновациям - российский капитал" (Нижний Новгород, 2012), где получил диплом.
        p 2013 г. – Проведена международная научно-практическая конференция «Актуальные проблемы селекции и технологии возделывания полевых культур», посвященная памяти профессора кафедры растениеводства Вятской ГСХА, доктора сельскохозяйственных наук, Заслуженного деятеля науки Российской Федерации Тихвинского Сергея Федоровича.
        p 2013 г. - Сотрудниками кафедры биологии растений, селекции и семеноводства, микробиологии Домрачевой Л.И., Зыковой Ю.Н. и Горностаевой Е.А. получен патент на изобретение «Способ очистки водного раствора, содержащего соли меди, от ионов меди».
        p 2013 г. - был получен патент на изобретение № 2464779 от 27 октября 2012 года «Способ мутагенной обработки семян ячменя» (авторы Дудин Г.П., Жилин Н.А.).
        p 2013 г. - На основе экспериментальных данных получен патент на изобретение № 2493722 от 27 сентября 2013 года «Способ обработки грубых кормов» (авторы Зяблицева Е.В, Мамонтов А.И., Зяблицева М.П, Лобастова Е.В.)
        p 2014г. – Проведена Всероссийская научно-практическая конференция «Актуальные вопросы аграрной науки: теория и практика», посвященная 70- летию агрономического факультета.
        p 2014 г. - Микробиологический препарат «Ризоверм», разработанный учеными кафедры биологии растений, селекции и семеноводства, микробиологии агрономического факультета доцентами Л.В. Трефиловой, А.Л. Ковиной и А.А. Калининым, получил высшую награду – Диплом и золотую медаль выставки «Золотая осень-2014».
        p 2015 г. – Проведена II Международная научно-практическая конференция «Водоросли и цианобактерии в природных и сельскохозяйственных экосистемах», посвященная 105-летию со дня рождения профессора Эмилии Адриановны Штиной.
        p 2017 г. – проведена II Всероссийская научно-практическая конференция с международным участием «Актуальные проблемы селекции и технологии возделывания полевых культур», посвященная 85-летию со дня рождения профессора, доктора сельскохозяйственных наук, заслуженного деятеля науки Российской Федерации Сергея Федоровича Тихвинского.
        p 2018 г. - Копысов И. Я. – профессор кафедроы почвоведения, мелиорации, землеустройства и химии, доктор сельскохозяйственных наук, награжден медалью «Киров – город трудовой славы».
        p 2018 г. – Проведена международная научно-практическая конференция "Почвы и их эффективное использование", посвященной 90-летию со дня рождения доктора сельскохозяйственных наук, заслуженного деятеля науки Российской Федерации, профессора Владимира Владимировича Тюлина. Кафедра почвоведения, мелиорация, землеустройства и химии.
        p 2019 г. - Микробиологический препарат «Ризоверм», разработанный учеными кафедры биологии растений, селекции и семеноводства, микробиологии агрономического факультета доцентами Л.В. Трефиловой, А.Л. Ковиной и А.А. Калининым, получил высшую награду – Диплом и бронзовую медаль выставки «Золотая осень-2019».
        p Проведена международная научно-практическая конференция "Мелиорация почв для устойчивого развития сельского хозяйства" посвящённой 100-летию со дня рождения профессора Александра Филипповича Тимофеева, Киров, 26-27 февраля 2019 г.. Кафедра почвоведения, мелиорация, землеустройства и химии.
