extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="af-people.html") Люди
    | &nbsp;/ Макаров И.П.
  .Person-Outer
    .Person
      h3.Person-Title Макаров Иван Павлович (1927-2011)
      img.Person-Img(src="./images/makarovip.jpg", alt="")
      .Person-Text
        p Макаров Иван Павлович, доктор сельскохозяйственных наук, профессор, академик ВАСХНИЛ, Заслуженный деятель науки РФ.
        p Родился в деревне Селиловичи Брянской области в большой крестьянской семье.
        p В 1942 г. в 15-летнем возрасте вступил в партизанский отряд, воевал в Брянских лесах разведчиком-подрывником, был тяжело ранен, на самолёте доставлен на Большую землю.
        p В 1943 г. возвратился в освобождённый от врага родной район. Учился в сельскохозяйственном техникуме, работал агрономом, служил в Красной Армии.
        p В 1945 г. стал работать начальником райсельхозинспекции по семенному контролю в Брянской области. Был избран первым секретарём райкома комсомола.
        p В 1954 г. заканчивает Тимирязевскую сельскохозяйственную академию.
        p В 1958 г. защитил кандидатскую диссертацию.
        p В 1958-1961 гг. – заведующий кафедрой общего земледелия Кировского сельскохозяйственного института.
        p В 1961-1976 гг. – ректор института.
        p В 1976 г. защитил докторскую диссертацию.
        p С 1976 г. – заместитель начальника Главного управления высшего и среднего специального образования министерства сельского хозяйства СССР, а вскоре начальник этого управления.
        p В 1990-е гг. – действительный член и академик-секретарь ВАСХНИЛ, главный учёный секретарь Россельхозакадемии.
