extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="af-people.html") Люди
    | &nbsp;/ Панкратова Е.М.
  .Person-Outer
    .Person
      h3.Person-Title Панкратова Евгения Матвеевна (1930–2016)
      img.Person-Img(src="./images/pankratovaem.jpg", alt="")
      .Person-Text
        p Панкратова Евгения Матвеевна, доктор биологических наук, профессор, заслуженный деятель науки РФ.
        p Родилась в г. Саратове.
        p После окончания средней школы она поступила в Саратовский государственный университет, который окончила в 1954 г. с отличием, получив специальность «физиолог растений».
        p Затем были годы учёбы в аспирантуре Саратовского университета и успешная защита кандидатской диссертации в Институте физиологии растений АН СССР в г. Москва.
        p С 1958 г. жизнь Е.М. Панкратовой неразрывно связана с г. Кировым – сначала она работала старшим научным сотрудником в Зональном институте, а с 1961 г. – в Кировском сельскохозяйственном институте.
        p В течение 30 лет Евгения Матвеевна заведовала кафедрой ботаники, физиологии растений и микробиологии.
        p Итогом научной работы стала защита в 1981 г. в МГУ им. М.В. Ломоносова докторской диссертации на тему «Роль азотфиксирующих синезеленых водорослей (цианобактерий) в накоплении азота и повышении плодородия почвы».
