extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/ Люди
  .PersonList-Outer
    a(href="./af-dudingp.html").PersonList
      img.PersonList-Img(src="./images/dudingp.jpg", alt="")
      p.PersonList-Text Дудин Г.П.
    a(href="./af-makarovip.html").PersonList
      img.PersonList-Img(src="./images/makarovip.jpg", alt="")
      p.PersonList-Text Макаров И.П.
    a(href="./af-pankratovaem.html").PersonList
      img.PersonList-Img(src="./images/pankratovaem.jpg", alt="")
      p.PersonList-Text Панкратова Е.М.
    a(href="./af-rudnickiinv.html").PersonList
      img.PersonList-Img(src="./images/rudnickiinv.jpg", alt="")
      p.PersonList-Text Рудницкий Н.В.
    a(href="./af-tihvinskiisf.html").PersonList
      img.PersonList-Img(src="./images/tihvinskiisf.jpg", alt="")
      p.PersonList-Text Тихвинский С.Ф.
    a(href="./af-tyulinvv.html").PersonList
      img.PersonList-Img(src="./images/tyulinvv.jpg", alt="")
      p.PersonList-Text Тюлин В.В.
    a(href="./af-shtinaea.html").PersonList
      img.PersonList-Img(src="./images/shtinaea.jpg", alt="")
      p.PersonList-Text Штина Е.А.