extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="af-people.html") Люди
    | &nbsp;/ Рудницкий Н.В.
  .Person-Outer
    .Person
      h3.Person-Title Рудницкий Николай Васильевич (1877-1953)
      img.Person-Img(src="./images/rudnickiinv.jpg", alt="")
      .Person-Text
        p Рудницкий Николай Васильевич, выдающийся русский и советский учёный-селекционер, профессор, академик ВАСХНИЛ.
        p В 1911 г. – заведующий Вятским сельскохозяйственным опытным полем, а затем – руководитель Вятской сельскохозяйственной опытной станции.
        p Основатель и первый директор НИИСХ Северо-Востока.
        p В 1947 г. – заведующий кафедрой плодоводства, овощеводства и технологии сельскохозяйственных продуктов.
        p Автор сортов ржи «Вятка», «Вятка-2» и «Белозерная Р-13», ярового ячменя «Винер», «Вятский», овса «Мираж», «Жемчужина», «Магистраль», яровой пшеницы «Лютесценс-116».
        p Кавалер двух орденов Ленина, двух орденов Трудового красного Знамени, лауреат Сталинской премии.
