extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="af-people.html") Люди
    | &nbsp;/ Штина Е.А.
  .Person-Outer
    .Person
      h3.Person-Title Штина Эмилия Адриановна (1910-2007)
      img.Person-Img(src="./images/shtinaea.jpg", alt="")
      .Person-Text
        p Штина Эмилия Адриановна, доктор биологических наук, профессор, заслуженный деятель науки РСФСР, Почётный гражданин города Кирова.
        p Родилась в селе Большая Пурга Вятской губернии в семье агронома.
        p В 1931 г. окончила Вятский пединститут.
        p В 1934-1937 гг. училась в аспирантуре МГУ им. М. В. Ломоносова под руководством профессора К.И. Мейера по специальности альгология.
        p С 1941 г. работала в Кировском сельхозинституте.
        p В 1956 г. защитила докторскую диссертацию на тему «Водоросли дерново-подзолистых почв и их роль в почвенных процессах», став одним из основоположников новой науки – почвенная альгология (первая женщина - доктор наук в г. Кирове).
        p В 1959-1976 гг. возглавляла кафедру ботаники, создав научный коллектив, успехи которого известны не только в нашей стране, но и за её пределами.
        p Под её руководством многочисленные ученики подробно изучали альгофлору почв на территории бывшего СССР.
        p Впервые в мире под её руководством были проведены 4 конференции по почвенной альгологии, собравшие крупнейших учёных нашей страны.
        p До сих пор монографии Э.А. Штиной являются настольной книгой всех тех, кто продолжает изучение почвенных водорослей.
        p Э.А. Штина в течение всей своей долгой жизни удачно совмещала блестящий талант учёного исследователя, великолепного педагога и общественного деятеля.
        p В течение 18 лет она была депутатом местных советов. В 1967-1971 гг. – депутат Верховного Совета РСФСР, где работала в комиссии по охране природы.
        p Долгие годы возглавляла Кировские отделения Русского ботанического общества, Общества почвоведов России, Общества микробиологов России, а также Всероссийского общества охраны природы.
