extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="af-people.html") Люди
    | &nbsp;/ Тихвинский С.Ф.
  .Person-Outer
    .Person
      h3.Person-Title Тихвинский Сергей Федорович (1932-2012)
      img.Person-Img(src="./images/tihvinskiisf.jpg", alt="")
      .Person-Text
        p Тихвинский Сергей Федорович, доктор сельскохозяйственных наук, заслуженный деятель науки.
        p Родился в городе Вятке в семье служащих.
        p На выбор жизненного пути оказал влияние академик Н.В. Рудницкий, который был другом семьи.
        p В 1955 г., окончив институт с отличием, С.Ф. Тихвинский был назначен старшим агрономом учебно-опытного хозяйства и в том же году перешёл на кафедру растениеводства КСХИ.
        p В 1963 г. присвоено звание кандидата сельскохозяйственных наук.
        p В 1968 г. присвоено звание доктора сельскохозяйственных наук.
        p В 1968-2002 гг. – заведующий кафедрой растениеводства.
        p В 1977-1984 гг. – декан агрономического факультета.
        p Под его руководством было создано 8 селекционных сортов льна-долгунца – Василёк, Батист, Звездочка, Белочка, Синичка, Снежок желтосемянный, Весничка, Снегурочка, 3 сорта яровой пшеницы, 2 сорта яровой ржи, 1 сорт кормового овса. 
