extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="af.html") Агрономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="af-people.html") Люди
    | &nbsp;/ Тюлин В.В.
  .Person-Outer
    .Person
      h3.Person-Title Тюлин Владимир Владимирович (1927-1992)
      img.Person-Img(src="./images/tyulinvv.jpg", alt="")
      .Person-Text
        p Тюлин Владимир Владимирович, доктор сельскохозяйственных наук, профессор, Заслуженный деятель науки РСФСР.
        p Родился в г. Судогде Владимирской области.
        p В 1951 г. окончил агрономический факультет Московской сельскохозяйственной академии им. К.А. Тимирязева.
        p В 1955 г. защитил кандидатскую диссертацию.
        p С 1955 г. работал в НИИСХ Северо-востока, а с 1960 г., после объединения НИИСХ с Кировским сельскохозяйственным институтом, на должности заведующего кафедрой агрохимии и почвоведения.
        p Был деканом агрономического факультета (1962-1963 гг.), дважды назначался проректором по научной работе.
        p В 1973 г. защитил докторскую диссертацию.
        p В 1976 г. был избран ректором института.
        p В.В. Тюлин продолжил интенсивные темпы строительств жилья, производственных объектов в учхозе и институте. Благодаря ему Опытное поле института превратилось в настоящий полигон науки с прекрасной материально-технической базой для производства классных семян зерновых культур, картофеля, льна, трав, для проведения учебных занятий и научных исследований.
        p В.В. Тюлин постоянно вносил новое, неординарное во все сферы деятельности института. Так, по его инициативе студенческие отряды на арендованных землях самостоятельно возделывали зерновые культуры и лён, получая высокие урожаи.
        p Опубликовал более 200 книг, брошюр, статей. Его монография «Почвы Кировской области» является настольной книгой при решении научных проблем и прикладных задач.
        p Под его руководством подготовлено шестнадцать кандидатов наук.
        p Вёл большую общественную работу, неоднократно избирался депутатом городского и четыре раза областного Совета народных депутатов, являлся членом парткома института и обкома КПСС, много лет возглавлял постоянную комиссию областного Совета народных депутатов по охране природы.
        p Награждён орденом «Знак почета», медалью «За доблестный труд. В ознаменование 100-летия со дня рождения В.И. Ленина», нагрудным значком «За отличные успехи в работе в области высшего образования СССР», награждался грамотами обкома КПСС и облисполкома, Министерства сельского хозяйства СССР.
