extends common/layout.pug

block content
  h1.Wrapper-Title Агрономический факультет
  a(href="./af-history.html").Rubrics
    img.Rubrics-Img(src="./images/history.jpg", alt="")
    p.Rubrics-Text История
  a(href="./af-people.html").Rubrics
    img.Rubrics-Img(src="./images/people.jpg", alt="")
    p.Rubrics-Text Люди