extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="bf.html") Биологический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="bf-people.html") Люди
    | &nbsp;/ Черных В.И.
  .Person-Outer
    .Person
      h3.Person-Title Черных Вениамин Иванович (1922-2001)
      img.Person-Img(src="./images/chernyhvi.jpg", alt="")
      .Person-Text
        p Черных Вениамин Иванович, доктор ветеринарных наук, профессор.
        p В 1947 г. с отличием окончил ветеринарный факультет Кировского сельскохозяйственного института.
        p В 1947-1950 гг. обучался в аспирантуре при кафедре зоогигиены КСХИ, а в 1950 г. защитил кандидатскую диссертацию.
        p В 1951-1958 гг. работал в Дагестанском сельскохозяйственном институте заведующим кафедрой зоотехнии и доцентом по курсу зоогигиены.
        p В 1958 г. перешёл на работу в Кировский сельхозинститут на должность доцента кафедры зоогигиены по курсу основы ветеринарии.
        p В 1970 г. защитил докторскую диссертацию.
        p В 1980-1995 гг. – заведующий кафедрой зоогигиены.
        p Участник Великой Отечественной войны.
        p Автор более 60 научных публикаций и соавтор учебника «Гигиена сельскохозяйственных животных», выдержавшего 3 переиздания.
        p Постоянный член специализированного учёного совета по защите кандидатских и докторских диссертаций при Казанском ветеринарном институте.
        p Член экспертного совета ВАК СССР.
        p Был постоянным участником всех культурно-массовых мероприятий на факультете и вузе. Его уникальный оперный голос многие годы звучал на разных творческих площадках института-академии.
        p Награждён медалью «Ветеран труда».
