extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="bf.html") Биологический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="bf-people.html") Люди
    | &nbsp;/ Эрнст Л.К.
  .Person-Outer
    .Person
      h3.Person-Title Эрнст Лев Константинович (1929-2012)
      img.Person-Img(src="./images/ernstlk.jpg", alt="")
      .Person-Text
        p Эрнст Лев Константинович, доктор наук, академик и вице-президент ВАСХНИЛ, академик Белорусской АН, вице-президент Российской академии сельскохозяйственных наук.
        p Родился во Владимирской области.
        p В 1951 г. закончил зоотехнический факультет.
        p Кандидат наук (1955).
        p В 1956-1959 гг. – доцент и исполняющий обязанности заведующего кафедрой разведения сельскохозяйственных животных.
        p Доктор наук (1969), академик и вице-президент ВАСХНИЛ (1979).
        p Разработал систему крупномасштабной селекции и методов моделирования селекционных процессов с помощью вычислительной техники.
        p Является одним из основоположников сельскохозяйственной биотехнологии.
        p Создал школу специалистов по генетике, селекции и биотехнологии сельскохозяйственных животных.
        p Опубликовал более 750 научных трудов.
        p Имеет более 60 авторских свидетельств и патентов на изобретения.
        p Был членом 4 иностранных академий, почетным профессором Джансийского университета.
        p Награждён орденами Трудового Красного Знамени, «Знак Почёта», орденом «За заслуги перед Отечеством» III и IV степени, медалями СССР и ВДНХ.
