extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="bf.html") Биологический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="bf-people.html") Люди
    | &nbsp;/ Колеватова А.И.
  .Person-Outer
    .Person
      h3.Person-Title Колеватова Анна Ивановна (1923-2012)
      img.Person-Img(src="./images/kolevatovaai.jpg", alt="")
      .Person-Text
        p Колеватова Анна Ивановна, доктор наук, профессор, заслуженный работник высшей школы Российской Федерации, заслуженный работник охотничьего хозяйства России.
        p Родилась в г. Вятке.
        p Вся сознательная жизнь Анны Ивановны связана с Кировским сельскохозяйственным институтом, в стенах которого она прошла путь от студентки ветеринарного факультета до заведующей кафедры.
        p Анна Ивановна стояла у истоков создания факультета охотоведения, она дала путевку в жизнь многим поколениям выпускников-охотоведов. 
        p Анна Ивановна одна из первых использовала системный подход при изучении паразито-хозяинных отношений гельминтозов.
        p Впервые в мире провела фундаментальные исследования по изучению унцинариоза северного морского котика, материалы которых нашли отражение в монографии РАН «Северный морской котик», получены авторское свидетельство и два патента. 
        p Награждена медалями: «За трудовую доблесть», «За доблестный труд в Великой Отечественной войне 1941-1945 гг.», «50 лет победы в Великой Отечественной войны 1941-1945 гг.», «Ветеран труда».
