extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="bf.html") Биологический факультет
    | &nbsp;/ Люди
  .PersonList-Outer
    a(href="./bf-zhdanovsl.html").PersonList
      img.PersonList-Img(src="./images/zhdanovsl.jpg", alt="")
      p.PersonList-Text Жданов С.Л.
    a(href="./bf-kolevatovaai.html").PersonList
      img.PersonList-Img(src="./images/kolevatovaai.jpg", alt="")
      p.PersonList-Text Колеватова А.И.
    a(href="./bf-pershinazn.html").PersonList
      img.PersonList-Img(src="./images/pershinazn.jpg", alt="")
      p.PersonList-Text Першина З.Н.
    a(href="./bf-chernyhvi.html").PersonList
      img.PersonList-Img(src="./images/chernyhvi.jpg", alt="")
      p.PersonList-Text Черных В.И.
    a(href="./bf-ernstlk.html").PersonList
      img.PersonList-Img(src="./images/ernstlk.jpg", alt="")
      p.PersonList-Text Эрнст Л.К.