extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="bf.html") Биологический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="bf-people.html") Люди
    | &nbsp;/ Жданов С.Л.
  .Person-Outer
    .Person
      h3.Person-Title Жданов Сергей Леонидович (1947-2011)
      img.Person-Img(src="./images/zhdanovsl.jpg", alt="")
      .Person-Text
        p Жданов Сергей Леонидович, кандидат химических наук, профессор, заслуженный работник Высшей школы РФ.
        p Выпускник химического факультета Ленинградского университета.
        p С 1971 г. начал трудовую деятельность в КСХИ в должности ассистента кафедры физиологии и биохимии.
        p В 1973-1976 гг. обучался в целевой очной аспирантуре НИХИ Ленинградского государственного университета, после успешного окончания которой и защиты кандидатской диссертации продолжил работу в КСХИ сначала ассистентом, затем заведующим кафедрой физиологии и биохимии.
        p В 1987-1991 гг. – декан зооинженерного факультета.
        p В 1991-1999 гг. – проректор по учебной работе.
        p В 1999-2011 гг. –  ректор Вятской ГСХА.
        p Подготовил в качестве научного руководителя 4 кандидата наук, являлся автором двух крупных монографий и учебно-методических пособий, том числе трёх с грифом МСХ РФ.
        p Отмечен Почётными грамотами МСХ, почётным знаком «За заслуги перед городом», юбилейной медалью ФНПР «100 лет профсоюзам России».

