extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="ef.html") Экономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="ef-people.html") Люди
    | &nbsp;/ Беспятых В.И.
  .Person-Outer
    .Person
      h3.Person-Title Беспятых Василий Ильич (р. 1955)
      img.Person-Img(src="./images/bespyatyhvi.jpg", alt="")
      .Person-Text
        p Беспятых Василий Ильич, доктор экономических наук, профессор, Заслуженный деятель науки РФ.
        p Родился в селе Спасское Котельничского района.
        p В 1977 г. окончил Кировский сельскохозяйственный институт.
        p В 1986 г. защитил кандидатскую диссертацию.
        p С 1988 г. – заведующий кафедрой организации сельскохозяйственного производства.
        p В 1995-2009 гг. – декан экономического факультета.
        p В 2000 г. защитил докторскую диссертацию.
        p Автор более 208 научных и научно-методических публикаций, 19 статей в журналах, рекомендованных ВАК, 16 монографии, около 20 учебных пособий.
        p Подготовил 36 кандидатов экономических наук.
        p Являлся членом экономического совета при губернаторе Кировской области, председателем экспертного совета по проведению обязательной публичной независимой экспертизы законопроектов в области бюджетного и налогового законодательства, экспертом ООН в области планирования природоохранной деятельности.
        p Являлся одним из лучших преподавателей в реализации Президентской программы подготовки управленческих кадров с их дальнейшей стажировкой за рубежом.
