extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="ef.html") Экономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="ef-people.html") Люди
    | &nbsp;/ Киселев Н.П.
  .Person-Outer
    .Person
      h3.Person-Title Киселев Николай Петрович (р. 1940)
      img.Person-Img(src="./images/kiselevnp.jpg", alt="")
      .Person-Text
        p Киселёв Николай Петрович, кандидат наук, лауреат Государственной премии РФ в области науки и техники.
        p Родился в деревне Киселёвщина Мурашинского района Кировской области.
        p После окончания агрономического факультета Кировского сельскохозяйственного института в 1962 г. работал секретарём РК ВЛКСМ, секретарём обкома ВЛКСМ, председателем Арбажского райисполкома, первым секретарём Санчурского РК КПСС Кировской области.
        p После окончания аспирантуры Академии общественных наук при ЦК КПСС и защиты кандидатской диссертации работал заместителем начальника Кировского облсельхозуправления по экономике.
        p С 1980 г. старший преподаватель кафедры политической экономии.
        p В 1982-1984 гг. – декан экономического факультета.
        p Председатель Кировского областного Совета народных депутатов (1990-1992), депутат Государственной Думы РФ (1999-2003), депутат Законодательного Собрания Кировской области (с 2006 г.).
        p Награждён орденом «Знак Почёта», медалью «За доблестный труд в ознаменование 100-летия со дня рождения В.И. Ленина».
