extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="ef.html") Экономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="ef-people.html") Люди
    | &nbsp;/ Кагнер Я.Н.
  .Person-Outer
    .Person
      h3.Person-Title Кагнер Яков Наумович (1928-2004)
      img.Person-Img(src="./images/kagneryan.jpg", alt="")
      .Person-Text
        p Кагнер Яков Наумович, доктор наук, профессор.
        p Работал в КСХИ-ВГСХА с 1954 по 2004 г.
        p Заведующий кафедрой политической экономии.
        p Декан экономического факультета.
        p Участник Великой Отечественной войны.
