extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="ef.html") Экономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="ef-people.html") Люди
    | &nbsp;/ Малыхина А.И.
  .Person-Outer
    .Person
      h3.Person-Title Малыхина Альбина Ивановна (1939-2010)
      img.Person-Img(src="./images/malyhinaai.jpg", alt="")
      .Person-Text
        p Малыхина Альбина Ивановна, доктор экономических наук, профессор.
        p Родилась в деревне Бережки во Владимирской области.
        p В 1957-1964 гг. – главный бухгалтер в колхозе им. Калинина Владимирской области.
        p В 1964-1968 гг. училась в Ленинградском сельскохозяйственном институте.
        p Была направлена на работу в КСХИ.
        p В 1974 г. защитила кандидатскую диссертацию.
        p В 1985-1990 гг. – заведующая кафедрой бухгалтерского учёта и финансов.
        p В 1990-1991 гг. – проректор по повышению квалификации.
        p В 1991-1997 гг. – проректор по экономическим вопросам.
        p В 1997 г. защитила докторскую диссертацию.
        p В 1997-2010 гг. – заведующая кафедрой финансов предприятий и финансового менеджмента.

