extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="ef.html") Экономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="ef-people.html") Люди
    | &nbsp;/ Тимофеев А.Ф.
  .Person-Outer
    .Person
      h3.Person-Title Тимофеев Александр Филиппович (1919-2010)
      img.Person-Img(src="./images/timofeevaf.jpg", alt="")
      .Person-Text
        p Тимофеев Александр Филиппович, профессор.
        p Выпускник Ленинградской лесотехнической академии.
        p С 1953 г. – кандидат сельскохозяйственных наук.
        p В 1966-1969 гг. – первый декан экономического факультета.
        p С 1968 г. – заведующий кафедрой мелиорации и геодезии.
        p С 1979 г. – профессор.

        p Участник Великой Отечественной войны
        p Кавалер орденов Красной Звезды, Отечественной войны второй степени, Александра Невского.
