extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="ef.html") Экономический факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="ef-people.html") Люди
    | &nbsp;/ Удовенко Л.Ф.
  .Person-Outer
    .Person
      h3.Person-Title Удовенко Лидия Федоровна (1947-2011)
      img.Person-Img(src="./images/udovenkolf.jpg", alt="")
      .Person-Text
        p Удовенко Лидия Фёдоровна, кандидат сельскохозяйственных наук, доцент.
        p Работала в КСХИ-ВГСХА в 1968-2002 гг.
        p Заведующая кафедрой экономики.
        p Декан экономического факультета.
