extends common/layout.pug

block content
  h1.Wrapper-Title Экономический факультет
  a(href="./ef-history.html").Rubrics
    img.Rubrics-Img(src="./images/history.jpg", alt="")
    p.Rubrics-Text История
  a(href="./ef-people.html").Rubrics
    img.Rubrics-Img(src="./images/people.jpg", alt="")
    p.Rubrics-Text Люди