extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="if.html") Инженерный факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="if-people.html") Люди
    | &nbsp;/ Алешкин В.Р.
  .Person-Outer
    .Person
      h3.Person-Title Алешкин Владимир Романович (1940-2017)
      img.Person-Img(src="./images/aleshkinvr.jpg", alt="")
      .Person-Text
        p Алёшкин Владимир Романович, профессор, заслуженный деятель науки РФ.
        p Родился в г. Сартовала в Карелии.
        p В 1963 г. окончил Кировский сельскохозяйственный институт.
        p В 1969 г. защитил кандидатскую диссертацию в ЛСХИ.
        p В начале 1970-х гг. – доцент кафедры «Механизации животноводства».
        p В 1974-1985 гг. – заведующий кафедрой.
        p В начале 1980-х гг. – проректор по научной работе.
        p В 1985-2000 гг. – проректор по учебной работе.
        p С 1991 г. – доктор наук, профессор.
        p В 2000-2003 гг. – первый проректор.
        p В 2015 г. вышел на пенсию.
        p Занимался изучением проблем измельчения грубых кормов.
