extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="if.html") Инженерный факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="if-people.html") Люди
    | &nbsp;/ Болотов А.К.
  .Person-Outer
    .Person
      h3.Person-Title Болотов Алексей Константинович (1933-2008)
      img.Person-Img(src="./images/bolotovak.jpg", alt="")
      .Person-Text
        p Болотов Алексей Константинович, профессор, Заслуженный работник высшей школы РФ.
        p Родился в г. Горьком.
        p В 1957 г. окончил Кировский сельскохозяйственный институт.
        p В 1957-1960 гг. – младший научный сотрудник Научно-исследовательского института сельского хозяйства Северо-Востока.
        p В 1960-1962 гг. – главный инженер колхоза «Россия» Слободского района Кировской области.
        p В 1962-1965 гг. учился в аспирантуре Кировского сельскохозяйственного института на кафедре тракторов и автомобилей и защитил кандидатскую диссертацию.
        p С 1965 г. – ассистент, а затем старший преподаватель кафедры тракторов и автомобилей.
        p В 1967 г. назначен заместителем декана факультета механизации КСХИ.
        p В 1973 г. назначен на должность проректора КСХИ по учебной работе.
        p В 1991 г. ему присуждается учёное звание профессора по кафедре тракторов и автомобилей.
        p В 1992 г. избирается ректором. Он стал первым ректором Вятской государственной сельскохозяйственной академии – одного из крупнейших сельскохозяйственных заведений России.
        p Опубликовал 68 научных, учебных и учебно-методических трудов, в том числе 10 книг в центральных издательствах.
        p Соавтор 12 патентов.
        p Под его руководством было подготовлено три кандидата технических наук.
        p Награждён орденом «Знак почёта» (1981 г.), двумя медалями (1970, 1985 гг.) и Почётной грамотой Президиума Верховного Совета РСФСР (1984 г.).
        p Трижды избирался членом Президиума обкома профсоюзов работников сельского хозяйства, три созыва являлся депутатом Кировского городского совета народных депутатов, был избран депутатом 2-го созыва Кировской областной Думы.
