extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="if.html") Инженерный факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="if-people.html") Люди
    | &nbsp;/ Гуревич А.М.
  .Person-Outer
    .Person
      h3.Person-Title Гуревич Александр Михайлович (1910-1996)
      img.Person-Img(src="./images/gurevicham.jpg", alt="")
      .Person-Text
        p Александр Михайлович Гуревич, заслуженный механизатор сельского хозяйства РСФСР, орденоносец, один из основателей факультета механизации сельского хозяйства (инженерный факультет) Кировского сельскохозяйственного института (Вятская ГСХА), основатель кафедры тракторов и автомобилей, первый профессор факультета.
        p Родился в г. Крюкове Полтавской области в семье служащего.
        p После учебы в Мелитопольской политехнической профшколе работал механиком Рубановской тракторной колонны Запорожской области, а затем старшим механиком Погрузинской машинно-тракторной станции Ульяновской области.
        p В 1932 г. поступил на вечернее отделение факультета механизации Воронежского сельскохозяйственного института.
        p С 1938 г. – старший преподаватель кафедры тракторов и автомобилей Иркутского сельскохозяйственного института.
        p В годы войны - начальник ремонтных мастерских строительства № 12 Государственного комитета обороны в г. Иркутске.
        p В 1948 г. защитил диссертацию на степень кандидата технических наук.
        p В 1948-1954 гг. работал в Волгоградском сельскохозяйственном институте.
        p С 1954 г. работал в Кировском сельскохозяйственном институте.
        p Организовал кафедру тракторов и автомобилей, которой руководил 24 года. На кафедре были созданы 5 специализированных лабораторий.
        p За период 40-летней работы в КСХИ под руководством А.М. Гуревича выполнен ряд научно-исследовательских работ по хозяйственным договорам с Волгоградским, Харьковским и Минским тракторными заводами, научно-исследовательским автотракторным институтом, специальным конструкторским бюро.
        p Опубликовал 30 книг, 32 брошюры, более 100 научных статей. На иностранные и языки народов СССР переведено 14 книг.
        p Организатор научных конференций кафедр тракторов и автомобилей сельскохозяйственных вузов Поволжья и Предуралья
        p Подготовил тысячи высококвалифицированных специалистов.
        p Под его руководством выполнено 13 кандидатских диссертаций.
        p Член Союза журналистов СССР. Опубликовал более 200 статей.
        p Награждён орденом «Знак Почета» и шестью медалями. Многократно награждался Почётными грамотами и дипломами союзных, республиканских и областных общественных организаций. Дважды награждался медалями выставок ВСХВ и ВДНХ. Трижды награждался дипломами в конкурсах на лучшую сельскохозяйственную книгу года.
