extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="if.html") Инженерный факультет
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="if-people.html") Люди
    | &nbsp;/ Сычугов Н.П.
  .Person-Outer
    .Person
      h3.Person-Title Сычугов Николай Павлович (р. 1936)
      img.Person-Img(src="./images/sychugovnp.jpg", alt="")
      .Person-Text
        p Сычугов Николай Павлович, доктор технических наук, профессор, Заслуженный деятель науки и техники РФ, Заслуженный изобретатель РФ.
        p Родился в д. Бурята Нагорского района Кировской области.
        p После окончания в 1959 г. Кировского сельскохозяйственного института работал главным инженером колхоза им. 18-го марта Свечинского района Кировской области.
        p С 1961 г. – ассистент кафедры «Сельскохозяйственные машины» КСХИ.
        p В 1966 г. защитил кандидатскую диссертацию.
        p С 1968 г. – доцент кафедры «Сельскохозяйственные машины».
        p В 1972-1976 гг. – декан факультета механизации, затем – заведующий кафедрой «Сельскохозяйственные машины».
        p В 1985-1987 гг. – старший научный сотрудник кафедры сельскохозяйственных машин.
        p В 1987-2009 гг. – заведующий кафедрой сельскохозяйственных машин.
        p В 1989 г. защитил докторскую диссертацию.
        p Н.П. Сычугов – руководитель научных исследований, связанных с разработкой технических устройств и технологий по совершенствованию зерно- и семяочистительных машин, зерносушилок, бункеров активного вентилирования, аэродинамических транспортеров и технологических линий послеуборочной обработки и хранения зерна.
        p Опубликовал свыше 200 научных статей, книг, имеет более 140 авторских свидетельств СССР, патентов и свидетельств на полезную модель России. Часть из них внедрена в производство.
        p Принимал участие в различных международных научных конференциях, как в зарубежных странах (Польша, Чехословакия, Болгария), так и в России (Москва, Санкт-Петербург и др.).
        p Являлся членом диссертационного совета на соискание ученой степени доктора технических наук в ЛСХИ – СПГАУ, Казанской ГСХА (Казанский ГАУ), ГУЗ НИИСХ Северо-Востока им. Н.В. Рудницкого.
        p Подготовил двенадцать кандидатов технических наук.
        p Отмечен наградами: знак «За освоение новых земель» (1957 г.); знак «Отличник социалистического сельского хозяйства» (1980 г.); знак «За заслуги в изобретательстве» (1988 г.); знак «Изобретатель СССР» (1988 г.); знак «За отличные успехи в работе» (1991 г.); почетные грамоты и благодарности от Главного управления высшего и среднего сельскохозяйственного образования МСХ СССР и РФ, ВАСХНИЛ.
        p В 2002 г. Международным Биографическим Центром Кембриджского университета включён в книгу «Знаменитые люди XX века» и награжден дипломом и именной медалью «За выдающиеся заслуги в науке».
