extends common/layout.pug

block content
  h1.Wrapper-Title Инженерный факультет
  a(href="./if-history.html").Rubrics
    img.Rubrics-Img(src="./images/history.jpg", alt="")
    p.Rubrics-Text История
  a(href="./if-people.html").Rubrics
    img.Rubrics-Img(src="./images/people.jpg", alt="")
    p.Rubrics-Text Люди