extends common/layout

block content
  .Departments
    div.Departments-Single
      a(href="./academy.html")
        img.Departments-Img(src="./images/vgsha.jpg", alt="")
        p.Departments-Text Академия

    div.Departments-Single
      a(href="./af.html")
        img.Departments-Img(src="./images/af.jpg", alt="")
        p.Departments-Text Агрономический факультет

    div.Departments-Single
      a(href="./bf.html")
        img.Departments-Img(src="./images/bf.jpg", alt="")
        p.Departments-Text Биологический факультет

    div.Departments-Single
      a(href="./vf.html")
        img.Departments-Img(src="./images/vf.jpg", alt="")
        p.Departments-Text Факультет ветеринарной медицины

    div.Departments-Single
      a(href="./if.html")
        img.Departments-Img(src="./images/if.jpg", alt="")
        p.Departments-Text Инженерный факультет

    div.Departments-Single
      a(href="./ef.html")
        img.Departments-Img(src="./images/ef.jpg", alt="")
        p.Departments-Text Экономический факультет