extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Чуватин Л.М.
  .Person-Outer
    .Person
      h3.Person-Title Чуватин Леонид Михайлович (1904-1992)
      img.Person-Img(src="./images/chuvatinlm.jpg", alt="")
      .Person-Text
        p Чуватин Леонид Михайлович, доктор наук, профессор.
        p Родился в г. Вятке.
        p В 1927 г. закончил Казанский ветеринарный институт.
        p В 1932-1940 гг. – ассистент, в 1940-1941 гг. – доцент кафедры нормальной анатомии Кировского зооветеринарного института.
        p В 1939 г. защитил кандидатскую диссертацию.
        p В 1941-1948 гг. – заведующий кафедрой анатомии сельскохозяйственных животных Азербайджанского сельскохозяйственного института.
        p В 1948 по 1955 гг. – зав. кафедрой анатомии сельскохозяйственных животных Кировского сельхозинститута.
        p В 1954 г. защитил докторскую диссертацию.
        p В 1955-1975 гг. – профессор кафедры, с 1976 г. – профессор-консультант кафедры анатомии сельскохозяйственных животных Кировского сельхозинститута.
        p Научное направление: топография нервов и их внутриствольное строение у лошади, возрастные изменения скелета, скелетных мышц, синовиальных влагалищ у домашних и диких животных в онтогенезе.
        p Опубликовал 51 научную работу.
        p Под его руководством выполнено 4 кандидатских и одна докторская диссертации.
        p Имеет правительственные награды.
