extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Ершов В.С.
  .Person-Outer
    .Person
      h3.Person-Title Ершов Владимир Степанович (1904-1988)
      img.Person-Img(src="./images/ershovvs.jpg", alt="")
      .Person-Text
        p Ершов Владимир Степанович, профессор, академик ВАСХНИЛ, Лауреат Государственной премии.
        p В 1925 г. окончил Ленинградский ветеринарный институт.
        p В 1932 г. организовал и стал первым заведующим кафедрой паразитологии.
        p В 1934 г. присвоено звание доцента.
        p В 1937 г. присвоено звание профессора.
        p В 1933-1936, 1938-1945 гг. – заместитель директора института по учебной и научной работе.
        p В 1945 г. переведён на работу в Москву.
        p Опубликовал более 170 научных работ, преимущественно по вопросам иммунитета при гельминтозах животных.
        p Награждён двумя орденами «Трудового Красного Знамени», двумя орденами «Знак Почёта», болгарским орденом «Кирилл и Мефодий», двумя медалями.
