extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Хрусталев С.А.
  .Person-Outer
    .Person
      h3.Person-Title Хрусталев Сергей Александрович (1898-1955)
      img.Person-Img(src="./images/hrustalevsa.jpg", alt="")
      .Person-Text
        p Хрусталев Сергей Александрович, доктор наук, профессор.
        p С 1933 г. – заведующий кафедрой терапии.
        p В 1947 г. – заведующий кафедрой клиндиагностики и рентгенологии.
        p Участник Великой Отечественной войны.
