extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Красноперов Н.П.
  .Person-Outer
    .Person
      h3.Person-Title Красноперов Николай Павлович (1885–1955)
      img.Person-Img(src="./images/krasnoperovnp.jpg", alt="")
      .Person-Text
        p Краснопёров Николай Павлович, доктор ветеринарных наук, профессор, отличник социалистического соревнования Наркомсовхозов СССР (1940).
        p Родился в селе Подрелье Медянского района.
        p В 1910 г. с отличием окончил Тартуский ветеринарный институт. Работал ветеринаром в селе Селты Малмыжского уезда.
        p Во время Первой мировой войны служил ветврачом в разных воинских частях 4-го Сибирского корпуса, с которым прошёл от Прибалтики до Румынии.
        p В 1918-1925 гг. – участковый ветврач в г. Советске.
        p В 1926-1931 гг. – старший ветврач Кировской окружной ветеринарной лечебницы и преподаватель хирургии в ветеринарном техникуме.
        p В 1931-1936 и 1942-1946 гг. – организатор и первый декан ветеринарного факультета.
        p В 1938 г. защитил кандидатскую диссертацию.
        p В 1943 г. командирован на Калининский фронт, где принимал участие в съездах фронтовых хирургов.
        p В 1944 г. защитил докторскую диссертацию.
        p Заведующий кафедрой хирургии (до выхода на пенсию в 1956 г.).
        p Заместитель директора по учебной и научной работе.
        p В 1953-1961 гг. – депутат Кировского городского Совета депутатов.
        p Сконструировал 7 инструментов и приборов для ветеринарной работы и учебных занятий.
        p Награждён орденом «Трудового Красного Знамени», медалями «За трудовую доблесть», «За доблестный труд в Великой Отечественной войне 1941-1945 гг.».