extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Комарицын Н.Н.
  .Person-Outer
    .Person
      h3.Person-Title Комарицын Николай Николаевич (1902 – 1965)
      img.Person-Img(src="./images/komaricynnn.jpg", alt="")
      .Person-Text
        p Комарицын Николай Николаевич, доктор ветеринарных наук, профессор.
        p Родился в семье крестьянина Даровского района Кировской области.
        p В 1931 г. окончил Новгородский ветеринарный техникум.
        p В 1935 г. окончил Кировский зооветеринарный институт.
        p С 1935 г. – ассистент кафедры физиологии.
        p В 1948 г. защитил кандидатскую диссертацию.
        p В 1948-1953 гг. исполнял обязанности заведующего кафедрой диагностики.
        p В 1956 г. защитил докторскую диссертацию в Московской ветеринарной академии.
        p С 1959 г. – заведующий кафедрой частной патологии и терапии.
        p Работал секретарем Учёного Совета института.
        p Участник Великой Отечественной войны.