extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Липовцев И.П.
  .Person-Outer
    .Person
      h3.Person-Title Липовцев Иван Петрович (1919-2015)
      img.Person-Img(src="./images/lipovcevip.jpg", alt="")
      .Person-Text
        p Липовцев Иван Петрович, доктор ветеринарных наук, профессор.
        p Родился в семье крестьянина деревни Малое Редкино Лебяжского района.
        p В 1942 г. окончил ветеринарный факультет Кировского зооветеринарного института и стал работать ветврачем в одном из совхозов Казахской ССР.
        p С 1946 г. работал на кафедре общей и частной хирургии КСХИ.
        p В 1953 г. защитил кандидатскую диссертацию.
        p В 1965 г. защитил докторскую диссертацию.
        p В 1956-1958 и 1961-1978 гг. – заведующий кафедрой хирургии.
        p В 1964-1968 гг. – проректор по учебной работе.
        p В 1972-1975 и 1982-1984 гг. – декан ветеринарного факультета.
        p С 1978 г. – заведующий кафедрой хирургии и акушерства.
        p Участник Великой Отечественной войны.
        p Награждён двумя Орденами и двенадцатью медалями Великой Отечественной войны, Малой бронзовой медалью ВДНХ СССР, нагрудными значками «Отличник социалистического сельского хозяйства», «За отличные заслуги в работе».
