extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Лощилова В.Г.
  .Person-Outer
    .Person
      h3.Person-Title Лощилова Валентина Горгоньевна (1908-1980)
      img.Person-Img(src="./images/loschilovavg.jpg", alt="")
      .Person-Text
        p Лощилова Валентина Горгоньевна, доктор ветеринарных наук, профессор.
        p В 1930 г. окончила Ленинградский ветеринарный институт.
        p В 1931-1938 гг. работала преподавателем в Вологодском веттехникуме и заведующей производством в Кировской лаборатории Асколи.
        p В 1938-1945 гг. – ассистент кафедры фармакалогии.
        p В 1944 г. защитила кандидатскую диссертацию.
        p С 1945 г. – доцент кафедры фармакалогии.
        p В 1946-1953 гг. заведующая кафедрой фармакалогии.
        p В 1963 г. защитила докторскую диссертацию в Ленинградском ветеринарном институте на тему «Сульфат магния как антидот при фтористой интоксикации».
        p С 1964 г. – профессор кафедры фармакалогии.
        p Награждена четырьмя медалями, в т.ч. «За доблестный труд в Великой Отечественной войне 1941-1945 гг.».
