extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Лыжина В.А.
  .Person-Outer
    .Person
      h3.Person-Title Лыжина Вера Александровна (1917-2004)
      img.Person-Img(src="./images/lyzhinava.jpg", alt="")
      .Person-Text
        p Лыжина Вера Александровна, доктор ветеринарных наук, профессор.
        p Родилась в г. Вятке.
        p В 1938 г. окончила ветеринарный факультет Кировского зооветеринарного института.
        p В 1938-1940 гг. работала ветеринарным врачом в Нолинской ветбаклаборатории Кировской области.
        p С 1940 г. – лаборант, затем прозектор и ассистент кафедры патанатомии Кировского сельхозинститута.
        p В 1946 г. защитила кандидатскую диссертацию.
        p С 1950 г. – доцент кафедры патанатомии.
        p В 1962 г. защитила докторскую диссертацию.
        p В 1972-1988 гг. – заведующая кафедрой патанатомии, патофизиологии и фармакологии, затем профессором кафедры анатомии, гистологии и патофизиологии.
        p Принимала активное участие в общественной деятельности института: избиралась членом месткома, парткома, секретарем партбюро факультета.
        p Неоднократно избиралась депутатом Кировского городского Совета депутатов трудящихся.
        p Награждена 6-ю медалями, нагрудным значком «За отличные успехи в работе».
