extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Макаров М.А.
  .Person-Outer
    .Person
      h3.Person-Title Макаров Михаил Александрович (1905-1962)
      img.Person-Img(src="./images/makarovma.jpg", alt="")
      .Person-Text
        p Макаров Михаил Александрович, доктор ветеринарных наук, профессор.
        p Окончил Казанский ветеринарный институт и аспирантуру при нём.
        p В 1932 г. поступил на работу в Кировский зооветеринарный институт.
        p Организатор кафедры патологической физиологии.
        p В 1935 г. присвоена учёная степень кандидата ветеринарных наук.
        p В 1932-1943 гг. – заведующий кафедрой патологической физиологии.
        p В 1937-1938 гг. – декан ветеринарного факультета.
        p Научные исследования посвящены в основном изучению групповых свойств крови сельскохозяйственных животных.
