extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Наумов В.А.
  .Person-Outer
    .Person
      h3.Person-Title Наумов Виктор Александрович (1900-1972)
      img.Person-Img(src="./images/naumovva.jpg", alt="")
      .Person-Text
        p Наумов Виктор Александрович, доктор ветеринарных наук, профессор, заслуженный деятель науки РСФСР.
        p Родился в селе Залазна Омутнинского района.
        p В 1919 г. окончил Вятский ветеринарный техникум и добровольцем ушёл в Красную Армию.
        p В 1928 г. окончил Казанский ветеринарный институт и был оставлен в аспирантуре. Ученик профессора К.Г. Боля.
        p В 1932 г. после окончания аспирантуры был направлен на работу в Вятский зооветеринарный институт.
        p Проделал большую работу по созданию кафедры патологической анатомии. Под его руководством создан патологоанатомический музей.
        p В 1932-1972 гг. – заведующий кафедрой патологической анатомии.
        p В 1934-1938 гг. – заместитель директора института по научной и учебной работе.
        p В 1935 г. утверждён в звании доцента, в 1937 г. присуждена степень кандидата ветеринарных наук.
        p В 1941 г. защитил докторскую диссертацию.
        p В 1946-1950 гг. – декан ветеринарного факультета.
        p Участник Гражданской войны.
        p Руководил подготовкой 9 кандидатских и одной докторской диссертаций. Его учениками были В.А. Лыжина, Ф.И. Безденежных, А.А. Шилов, В.В. Калмыков и др.
        p Награждён орденом Трудового Красного знамени и медалями.
        p Избирался депутатом горсовета и райсовета.
