extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Петской П.Г.
  .Person-Outer
    .Person
      h3.Person-Title Петской Петр Георгиевич (1908-1987)
      img.Person-Img(src="./images/petskoipg.jpg", alt="")
      .Person-Text
        p Петской Пётр Георгиевич, профессор, заслуженный деятель наук РСФСР, член экспертного совета ВАК СССР.
        p Родился в г. Пскове.
        p В 1931 г. закончил Ленинградский ветеринарный институт.
        p С 1932 г. – и.о. заведующего кафедрой гистологии и эмбриологии.
        p В 1938 г. защитил кандидатскую диссертацию.
        p В 1938-1941 гг. – декан ветеринарного факультета Кировского зооветеринарного института.
        p В 1946-1981 гг. – заведующий кафедрой  гистологии и эмбриологии Кировского сельскохозяйственного института.
        p В 1946-1962 гг. – проректор института по учебной и научной работе.
        p В 1954 г. защитил докторскую диссертацию.
        p В 1981-1987 гг. – консультант по научной работе кафедры гистологии и эмбриологии.
        p Участник Великой Отечественной войны.
        p Основные научные направления – воспроизводство, путь интенсификации скотоводства, внутриутробная патология сельскохозяйственных животных и пушных зверей. Опубликовано 50 научных работ.
        p Под его руководством выполнено три докторских и 15 кандидатских диссертаций.
        p Награждён орденами и медалями.
