extends common/layout.pug

block content
  h1.Wrapper-Title
    a.Wrapper-Link(href="vf.html") Факультет ветеринарной медицины
    | &nbsp;/&nbsp;
    a.Wrapper-Link(href="vf-people.html") Люди
    | &nbsp;/ Зыкин Н.А.
  .Person-Outer
    .Person
      h3.Person-Title Зыкин Николай Александрович (1911-1992)
      img.Person-Img(src="./images/zykinna.jpg", alt="")
      .Person-Text
        p Зыкин Николай Александрович, доктор ветеринарных наук, профессор.
        p Родился в 1911 г. в д. Пироги Нолинского района Кировской области
        p В 1941 г. закончил Кировский зооветеринарный институт.
        p С 1941 по 1946 гг. – ветврач в РККА.
        p С 1946 по 1956 гг. – ассистент кафедры нормальной анатомии сельскохозяйственных животных КСХИ.
        p В 1955 г. защитил кандидатскую диссертацию.
        p В 1956-1975 г. – доцент кафедры.
        p С 1962 г. – декан заочного факультета.
        p В 1972 г. защитил докторскую диссертацию.
        p В 1975-1981 гг. – на должности профессора кафедры анатомии.
        p В 1981-1991 гг. – профессор кафедры анатомии
        p С 1981 г. – заведующий кафедрой анатомии.
        p Опубликовал 50 научных работ. Научное направление – возрастные изменения скелета, синовиальные влагалища и слизистые сумки у крупного рогатого скота и лошадей.
        p Имеет правительственные награды.
